th{
  cursor: pointer;
}

.arrow-up{
  weight:0;
  height: 0;
  border-left: 5px solid transparent;
  border-right:5px solid transparent;
  border-bottom: 10px solid  black;
  display: inline-block;
}
.arrow-down{
  weight:0;
  height: 0;
  border-left: 5px solid transparent;
  border-right:5px solid transparent;
  border-top: 10px solid  black;
  display: inline-block;
}
.size{
  width:300px;
  border:1px solid black;
  font-size:large;
  padding: 5px;
}