<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Post Feedback</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" scale="1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">

</head>

<body ng-app="AngularProject">
    <!-- <div ng-controller="myController"> -->

    <!-- <div>{{myUrl}}</div>
           Select Displayed View 

           <select ng-model="employeeView">
                <option value="views/table.html">Table</option>
                <option value="views/list.html">List</option>
            </select>
   <div ng-include="employeeView"></div> -->
    <!-- <span>{{message}}</span> -->

    <!--  
</div>
<div ng-controller="ServiceController">
<span>{{myTime}}</span>
</div>

<div ng-controller="myNgOptionCtrl">
<select ng-model="selectedCars" ng-options=" car.model for car in cars">

</select>
<p>Car Model:{{selectedCars.model}}</p>
</div> -->
    <div ng-controller="AnchorServiceCntrl">
        <button id="bottom" ng-click="scroll('top')">Go To Bottom</button>
        <div class="size">
            <p>
                This tutorial is specially designed to help you learn AngularJS as quickly and efficiently as possible. First, you will learn
                the basics of AngularJS: directives, expressions, filters, modules, and controllers. Then you will learn
                everything else you need to know about AngularJS: Events, DOM, Forms, Input, Validation, Http, and more.
                AngularJS version 1.0 was released in 2012. Miško Hevery, a Google employee, started to work with AngularJS
                in 2009. The idea turned out very well, and the project is now officially supported by Google. Example explained:
                AngularJS starts automatically when the web page has loaded. The ng-app directive tells AngularJS that the
                element is the "owner" of an AngularJS application. The ng-model directive binds the value of the input field
                to the application variable name. The ng-bind directive binds the innerHTML of the element to the application
                variable name. This tutorial is specially designed to help you learn AngularJS as quickly and efficiently
                as possible. First, you will learn the basics of AngularJS: directives, expressions, filters, modules, and
                controllers. Then you will learn everything else you need to know about AngularJS: Events, DOM, Forms, Input,
                Validation, Http, and more. AngularJS version 1.0 was released in 2012. Miško Hevery, a Google employee,
                started to work with AngularJS in 2009. The idea turned out very well, and the project is now officially
                supported by Google. Example explained: AngularJS starts automatically when the web page has loaded. The
                ng-app directive tells AngularJS that the element is the "owner" of an AngularJS application. The ng-model
                directive binds the value of the input field to the application variable name. The ng-bind directive binds
                the innerHTML of the element to the application variable name. This tutorial is specially designed to help
                you learn AngularJS as quickly and efficiently as possible. First, you will learn the basics of AngularJS:
                directives, expressions, filters, modules, and controllers. Then you will learn everything else you need
                to know about AngularJS: Events, DOM, Forms, Input, Validation, Http, and more. AngularJS version 1.0 was
                released in 2012. Miško Hevery, a Google employee, started to work with AngularJS in 2009. The idea turned
                out very well, and the project is now officially supported by Google. Example explained: AngularJS starts
                automatically when the web page has loaded. The ng-app directive tells AngularJS that the element is the
                "owner" of an AngularJS application. The ng-model directive binds the value of the input field to the application
                variable name. The ng-bind directive binds the innerHTML of the element to the application variable name.
            </p>
        </div>
        <button id="top" ng-click="scroll('bottom')">Go To Top</button>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>

</body>

</html>