<div class="size">
        <p>
            This tutorial is specially designed to help you learn AngularJS as quickly and efficiently as possible. First, you will learn
            the basics of AngularJS: directives, expressions, filters, modules, and controllers. Then you will learn
            everything else you need to know about AngularJS: Events, DOM, Forms, Input, Validation, Http, and more.
            AngularJS version 1.0 was released in 2012. Miško Hevery, a Google employee, started to work with AngularJS
            in 2009. The idea turned out very well, and the project is now officially supported by Google. Example explained:
            AngularJS starts automatically when the web page has loaded. The ng-app directive tells AngularJS that the
            element is the "owner" of an AngularJS application. The ng-model directive binds the value of the input field
            to the application variable name. The ng-bind directive binds the innerHTML of the element to the application
            variable name. This tutorial is specially designed to help you learn AngularJS as quickly and efficiently
            as possible. First, you will learn the basics of AngularJS: directives, expressions, filters, modules, and
            controllers. Then you will learn everything else you need to know about AngularJS: Events, DOM, Forms, Input,
            Validation, Http, and more. AngularJS version 1.0 was released in 2012. Miško Hevery, a Google employee,
            started to work with AngularJS in 2009. The idea turned out very well, and the project is now officially
            supported by Google. Example explained: AngularJS starts automatically when the web page has loaded. The
            ng-app directive tells AngularJS that the element is the "owner" of an AngularJS application. The ng-model
            directive binds the value of the input field to the application variable name. The ng-bind directive binds
            the innerHTML of the element to the application variable name. This tutorial is specially designed to help
            you learn AngularJS as quickly and efficiently as possible. First, you will learn the basics of AngularJS:
            directives, expressions, filters, modules, and controllers. Then you will learn everything else you need
            to know about AngularJS: Events, DOM, Forms, Input, Validation, Http, and more. AngularJS version 1.0 was
            released in 2012. Miško Hevery, a Google employee, started to work with AngularJS in 2009. The idea turned
            out very well, and the project is now officially supported by Google. Example explained: AngularJS starts
            automatically when the web page has loaded. The ng-app directive tells AngularJS that the element is the
            "owner" of an AngularJS application. The ng-model directive binds the value of the input field to the application
            variable name. The ng-bind directive binds the innerHTML of the element to the application variable name.
        </p>
    </div>